

a.logo {
	font-family: Roboto;
	font-size: 28px;
	color: white !important;
}

.navbar {
	margin-bottom: 0;
	border-radius: 0px;
	height: 65px;
	background-color: #32323a;
}

/*Styles for home.html*/
.landing-div {
	height: 450px;
}

.homePageImg {
	position: fixed;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	right: 0;
	top: 0;
	background-size: cover;
	opacity: 0.4;
	filter: alpha(opacity=40); 
}

.main-page {
	width: 100%;
	height: 70px;
	background-color:#fd680e;
	border-top: 1.5px solid white;
}

.block {
	width: 58%;
	height: 150px;
	background-color: #f1f1f1;
	margin: 40px auto;
	border-radius: 4px;
	margin-top: 150px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	padding: 10px;
	font-family: Roboto;
	font-weight: bold;

	
}

.find-connection {
	background-color: #fd680e;
	color: white;
	margin-top: 37px;
}


/*Styles for login.html*/

.login-hearder {
	margin-left: 82px;
}
.signup-header{
	margin-left: 127px;
}

/*Styles for signup.html*/
.your-bio {
	margin-left: 48px;
}
.bio-guider {
	width: 50%;
	/*margin-left: 48px;*/
}
.school-completion {
	width: 35%;
	/*margin-left: 48px;*/
}
.signup-submit {
	background-color: #fd680e;
	float: right;
	margin-right: 15px;
	margin-bottom: 15px;

}

/* Styles for gLayout.html*/
/*.layout-header {
	margin-top: 20px;
}
.pic-name {
	width: 100%;
	height: 250px;
	background-color: #f1f1f1;
}

.side-note {
	width: 95%;
	height: 250px;
	background-color: #e3e7e4;
}

.user-name {
	size: 25px;
	
}*/
.guider-about-wrapper {
	background-color: #f1f2f7;
	height: 700px;
	width: 100%;
}
.guider-profile {
	width: 85%;
	height: 278px;
	margin-right: auto;
	margin-left: auto;
	background-color: white;
	margin-top: 19px;
	border-radius: 4px;
}

.round-pic img {
	width: 160px;
	height: 160px;
	-webkit-border-radius: 50%;
	border: 10px solid #f1f2f7;
	margin-top: 20px;
	margin-left: 25px;
}
.about-guider {
	border-right: 1px solid #ddd;
	padding-right: 30px;
}

.about-guider h1 {
	padding-bottom: 25px;
	padding-top: 18px;
	color: #1fb5ad;

}

.about-guider p {
	color: #767676;
}

.guider-information {
	width: 85%;
	height: 350px;
	margin-right: auto;
	margin-left: auto;
	background-color: white;
	margin-top: 19px;
	border-radius: 4px;
}

.guider-location address {
	padding-top: 25px;
	color: #767676;
	size: 18px;

	
}

.guider-location .address {
	width: 32px;
	height: 32px;
	background: #1fb5ad;
	-webkit-border-radius: 50%;
	text-align: center;
	size: 32px;
	color: white;
	line-height: 32px;
}

.guider-location h2 {
	color: #1fb5ad;
	text-transform: uppercase;
	font-size: 16px;
	display: inline-block;
}

/*connect.html*/
.about-connecter {
	margin-left: 48px;
}
.connect-signupbtn {
	float: right;
	margin-right: 15px;
	margin-left: 15px;
	background-color: #fd680e;
}

